.cart__row .update {
    margin-right: 10px;
}

p.dt-sc-button, p.dt-sc-button:hover, p.dt-sc-button a, p.dt-sc-button:hover a, p.dt-sc-button a:before, p.dt-sc-button a:after, p.dt-sc-button a span:before, p.dt-sc-button a span:after, p.dt-sc-button:hover a:before, p.dt-sc-button:hover a:after, p.dt-sc-button:hover a span:before, p.dt-sc-button:hover a span:after, p.dt-sc-button, p.dt-sc-button:hover, p.dt-sc-button i, p.dt-sc-button:hover i, p.dt-sc-button i:before, p.dt-sc-button i:after, p.dt-sc-button i span:before, p.dt-sc-button i span:after, p.dt-sc-button:hover i:before, p.dt-sc-button:hover i:after, p.dt-sc-button:hover i span:before, p.dt-sc-button:hover i span:after {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
p.dt-sc-button {
    border: 2px solid #990000;
    padding: 2px;
    margin: 0;
    clear: both;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
p {
    margin: 0 0 15px 0;
}
p {
    margin: 0 0 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box font-family "futura-REGULAR";
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-right {
    text-align: right !important;
}
.text-right {
    text-align: right;
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
}
body, input, textarea, button, select {
    font-size: 13px;
    line-height: 1.6;
    font-family: 'futura-REGULAR', sans-serif !important;
    color: #000000;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box font-family "futura-REGULAR";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box font-family "futura-REGULAR";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p.dt-sc-button:hover input[type="submit"] {
    color: #ffffff;
}
p.dt-sc-button input[type="submit"] {
    padding: 0px 24px;
}
.mailchimp input[type="submit"], .contact_form_section input[type="submit"], .spr-form input[type="submit"], .address_form_section input[type="submit"], #mc_embed_signup input[type="submit"], #CustomerLoginForm input[type="submit"], #RecoverPasswordForm input[type="submit"], .cart__row input[type="submit"], #create_customer input[type="submit"] {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.mailchimp input[type="submit"], .contact_form_section input[type="submit"], .spr-form input[type="submit"], .address_form_section input[type="submit"], #mc_embed_signup input[type="submit"], #CustomerLoginForm input[type="submit"], #RecoverPasswordForm input[type="submit"], .cart__row input[type="submit"], #create_customer input[type="submit"], #Comments .post-btn {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background: none;
    margin: 0;
}
.mailchimp input[type="submit"], .contact_form_section input[type="submit"], .spr-form input[type="submit"], .address_form_section input[type="submit"], #mc_embed_signup input[type="submit"], #CustomerLoginForm input[type="submit"], #RecoverPasswordForm input[type="submit"], .cart__row input[type="submit"], #create_customer input[type="submit"] {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.mailchimp input[type="submit"], .contact_form_section input[type="submit"], .address_form_section input[type="submit"], #mc_embed_signup input[type="submit"], #CustomerLoginForm input[type="submit"], #RecoverPasswordForm input[type="submit"], .cart__row input[type="submit"], #create_customer input[type="submit"], #Comments .post-btn {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background: none;
    margin: 0;
}
button, input[type="submit"] {
    cursor: pointer;
}
input[type="submit"], button {
    outline: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.button-font {
    font-weight: bold;
    padding: 12px 24px;
    font-size: 13px;
}
.collection_1 .collection-detail a, .collection_1 .collection-detail h2, .collection_1 .collection-detail .h2, .collection_1 .collection-detail_2 a, .collection_1 .collection-detail_2 h4, .collection_1 .collection-detail_2 .h4, .mid_banner_img .mid_banner_detail h4, .mid_banner_img .mid_banner_detail .h4, .mid_banner_img .mid_banner_detail a, .middle-banner-detail h4, .middle-banner-detail .h4, .middle-banner-detail a, .blog h4, .blog .h4, .newsletter h5, .newsletter .h5, .mailchimp, .mailchimp input[type="submit"], #mc_embed_signup input[type="submit"], .site-footer .footer-bottom .footer-logo h1, .site-footer .footer-bottom .footer-logo .h1, h4.border-title, .border-title.h4, .breadcrumb a, .breadcrumb span, .widget h4, .widget .h4, .breadcrumb .banner-sub-title, #slidedown-cart .product-details p a, .product-detail-section #AddToCartText, .related-products h2, .related-products .h2, .mid-banner-first-img span, .mid-banner-first-img h2, .mid-banner-first-img .h2, .divas-caption h2, .divas-caption .h2, .divas-caption h1, .divas-caption .h1, .newsletterwrapper h5, .newsletterwrapper .h5, .newsletterwrapper h2, .newsletterwrapper .h2, .button-font, .blog a.button, .spr-form input[type="submit"], .mailchimp input[type="submit"], .product-detail-section p.dt-sc-button input[type="submit"], .product-detail-section button, .megamenu-child-container ul li p.dt-sc-button a {
    font-family: 'futura-REGULAR', sans-serif;
}
input, textarea {
    border: 1px solid #ffffff;
    max-width: 100%;
    padding: 14px 15px;
    border-radius: 3px;
}
button, input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input, textarea, button, select {
    padding: 0;
    margin: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}
body, input, textarea, button, select {
    font-size: 13px;
    line-height: 1.6;
    font-family: 'futura-REGULAR', sans-serif !important;
    color: #000000;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box font-family "futura-REGULAR";
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="submit" i]:active {
    border-style: inset;
}
user agent stylesheet
input[type="submit" i] {
    appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(black, white);
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
user agent stylesheet
input {
    -ms-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
#Comments form p.dt-sc-button i, #CustomerLoginForm p.dt-sc-button i, #RecoverPasswordForm p.dt-sc-button i, .cart__row p.dt-sc-button i, #create_customer p.dt-sc-button i {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
user agent stylesheet
i {
    font-style: italic;
}
.collection_1 .collection-detail a:hover, .list-collections .details p.dt-sc-button:hover a, .welcome_left_bottom p.dt-sc-button:hover a, .megamenu-child-container ul li p.dt-sc-button:hover a, .mid_banner_img .mid_banner_detail p.dt-sc-button:hover a, .mailchimp span:hover, .address_form_section p.dt-sc-button:hover, #mc_embed_signup p.dt-sc-button:hover, #CustomerLoginForm p.dt-sc-button:hover, #RecoverPasswordForm p.dt-sc-button:hover, .cart__row p.dt-sc-button:hover, .blog-news-detail p.dt-sc-button:hover a.read-more, .blog a.button:hover, .mailchimp p.dt-sc-button:hover, .contact_form_section p.dt-sc-button:hover, .spr-form .spr-form-actions:hover, .address_form_section p.dt-sc-button:hover, #mc_embed_signup p.dt-sc-button:hover, #CustomerLoginForm p.dt-sc-button:hover, #RecoverPasswordForm p.dt-sc-button:hover, .cart__row p.dt-sc-button:hover, .blog .nav_blogpost a:hover, .nav_testimonial a:hover, #Comments form p.dt-sc-button:hover, #create_customer p.dt-sc-button:hover {
    background: #ff3366;
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
p.dt-sc-button {
    border: 2px solid #990000;
    padding: 2px;
    margin: 0;
    clear: both;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
.text-right {
    text-align: right !important;
}
.text-right {
    text-align: right;
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box font-family "futura-REGULAR";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box font-family "futura-REGULAR";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}